---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
---

<Layout title="logantm.com">
	<main>
		<h1>Whoops! You're early</h1>
		<p>Come back a little later!</p>
	</main>
</Layout>

<style></style>
